/* base styles */
body {
  font-family: helvetica;
  color: black;
}

/* site styles */

header {
  height: 40px;
}

nav {
  height: 40px;
  background-color: #E1E4E6;
  margin-top: 25px;
}

nav li {
  display: inline-block;
  margin-top: 11px;
}

nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
}

/*div.search-box {
  display: inline;
}

div.thunderstorm {
  display: inline;
}

.search-box {
  width: 300px;
}

.thunderstorm {
  float: right;
}*/

.second-header {
  background-color: #E1E4E6;
  height: 40px;
}

.second-header p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 12px;
  padding-left: 14px;
}

.middle-header img {
  float: left;
  margin-top: 10px;
  margin-right: 200px;
}

.weather-stats ul li {
  list-style: none;
}

.third-header {
  background-color: #E1E4E6;
  height: 40px;
}

.third-header p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 12px;
  padding-left: 14px;
  margin-top: 30px;
}

.images ul {
  list-style: none;
  float: left;
  padding-left: 130px;
  margin-top: 50px;
}

.images li {
  display: inline;
  padding: 10px 20px;
}
